.path-0 {
  animation: pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,400 L 0,150 C 175.33333333333331,113.73333333333333 350.66666666666663,77.46666666666667 531,99 C 711.3333333333334,120.53333333333333 896.6666666666667,199.86666666666667 1049,243 C 1201.3333333333333,286.1333333333333 1320.6666666666665,293.06666666666666 1440,300 L 1440,400 L 0,400 Z"
    );
  }
  25% {
    d: path(
      "M 0,400 L 0,150 C 158.2666666666667,145.86666666666667 316.5333333333334,141.73333333333332 498,136 C 679.4666666666666,130.26666666666668 884.1333333333334,122.93333333333334 1045,150 C 1205.8666666666666,177.06666666666666 1322.9333333333334,238.53333333333333 1440,300 L 1440,400 L 0,400 Z"
    );
  }
  50% {
    d: path(
      "M 0,400 L 0,150 C 152.66666666666663,182.66666666666666 305.33333333333326,215.33333333333331 480,212 C 654.6666666666667,208.66666666666669 851.3333333333335,169.33333333333334 1015,178 C 1178.6666666666665,186.66666666666666 1309.3333333333333,243.33333333333331 1440,300 L 1440,400 L 0,400 Z"
    );
  }
  75% {
    d: path(
      "M 0,400 L 0,150 C 158.80000000000007,145.06666666666666 317.60000000000014,140.13333333333335 480,155 C 642.3999999999999,169.86666666666665 808.3999999999999,204.53333333333336 969,232 C 1129.6000000000001,259.46666666666664 1284.8000000000002,279.73333333333335 1440,300 L 1440,400 L 0,400 Z"
    );
  }
  100% {
    d: path(
      "M 0,400 L 0,150 C 175.33333333333331,113.73333333333333 350.66666666666663,77.46666666666667 531,99 C 711.3333333333334,120.53333333333333 896.6666666666667,199.86666666666667 1049,243 C 1201.3333333333333,286.1333333333333 1320.6666666666665,293.06666666666666 1440,300 L 1440,400 L 0,400 Z"
    );
  }
}

.path-1 {
  animation: pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1 {
  0% {
    d: path(
      "M 0,400 L 0,225 C 127.33333333333331,267.4 254.66666666666663,309.8 436,287 C 617.3333333333334,264.2 852.6666666666667,176.2 1029,130 C 1205.3333333333333,83.80000000000001 1322.6666666666665,79.4 1440,75 L 1440,400 L 0,400 Z"
    );
  }
  25% {
    d: path(
      "M 0,400 L 0,225 C 150.53333333333336,221.13333333333333 301.0666666666667,217.26666666666668 475,211 C 648.9333333333333,204.73333333333332 846.2666666666667,196.06666666666666 1011,173 C 1175.7333333333333,149.93333333333334 1307.8666666666668,112.46666666666667 1440,75 L 1440,400 L 0,400 Z"
    );
  }
  50% {
    d: path(
      "M 0,400 L 0,225 C 202.13333333333333,219.93333333333334 404.26666666666665,214.86666666666665 537,192 C 669.7333333333333,169.13333333333335 733.0666666666667,128.46666666666667 872,106 C 1010.9333333333333,83.53333333333333 1225.4666666666667,79.26666666666667 1440,75 L 1440,400 L 0,400 Z"
    );
  }
  75% {
    d: path(
      "M 0,400 L 0,225 C 128.13333333333333,233.8 256.26666666666665,242.6 412,244 C 567.7333333333333,245.4 751.0666666666666,239.4 927,210 C 1102.9333333333334,180.6 1271.4666666666667,127.8 1440,75 L 1440,400 L 0,400 Z"
    );
  }
  100% {
    d: path(
      "M 0,400 L 0,225 C 127.33333333333331,267.4 254.66666666666663,309.8 436,287 C 617.3333333333334,264.2 852.6666666666667,176.2 1029,130 C 1205.3333333333333,83.80000000000001 1322.6666666666665,79.4 1440,75 L 1440,400 L 0,400 Z"
    );
  }
}
