@import "tailwindcss";

@layer base {
  @font-face {
    font-family: morabba-regular;
    font-weight: normal;
    src: url("/fonts/Morabba-Regular.ttf") format(truetype);
  }
  @font-face {
    font-family: morabba-bold;
    font-weight: bold;
    src: url("/fonts/Morabba-Bold.ttf") format(truetype);
  }
  @font-face {
    font-family: iran-yekan-regular;
    src: url("/fonts/IRANYekanRegular.ttf");
  }
  @font-face {
    font-family: iran-yekan-bold;
    src: url("/fonts/iranyekanwebbold.ttf");
  }
  @font-face {
    font-family: ms-madi;
    src: url("/fonts/MsMadi-Regular.ttf");
  }
}

@theme {
  --color-primary: #9e624c;
  --color-secondary: #f2e5da;
  --color-light-secondary: #fff8f5;
  --color-stroke: #e9e9e8;
  --color-txt: #28221e;
  --color-concat-icon: #fba229;
  --color-sec-text: #9b9895;
  --color-white-20: #ffffff33;
  --font-morabba: morabba-regular;
  --font-morabba-bold: morabba-bold;
  --font-iran-yekan: iran-yekan-regular;
  --font-iran-yekan-bold: iran-yekan-bold;
  --font-ms-madi: ms-madi;
}

@layer utilities {
  .container {
    width: 87%;
    margin: 0 auto;
  }
}

@layer components {
  .move {
    animation: move 25s linear infinite;
    will-change: transform;
  }

  .category-btn {
    @apply p-2 rounded-xl bg-secondary flex items-center justify-center cursor-pointer  transition-colors hover:bg-primary -translate-y-1/2 z-10 max-sm:p-1 max-sm:rounded-lg;
  }

  .category-btn-icon {
    @apply text-xl transition-colors group-hover:text-white;
  }

  .special-offs-back {
    @apply w-full h-[520px];
  }



  .special-offs-product img {
    @apply w-full h-auto object-cover max-md:h-[240px] max-sm:h-[150px];
  }

  .best-sellers-products {
    @apply min-w-[310px] max-w-[310px] max-md:min-w-3/5 max-sm:min-w-full;
  }

  .best-sellers-products img {
    @apply min-h-75 max-sm:min-h-60;
  }

  .icons-parent {
    @apply flex gap-18 justify-center items-start max-lg:gap-12 max-md:gap-6;
  }

  .special-offs-back .icons-parent img {
    @apply max-sm:size-12;
  }

  .parent-icons-parent {
    @apply flex flex-col gap-16;
  }

  .special-offs-category-item-active {
    @apply font-iran-yekan-bold text-lg text-primary border-b-2 border-primary;
  }

  .bs-products-btn {
    @apply bg-primary text-white flex gap-16 items-center p-4 rounded-full cursor-pointer hover:bg-secondary transition-colors;
  }

  .training-page {
    @apply h-[426px];
  }
  .training-page img {
    @apply max-md:size-10;
  }

  .header-top-icon {
    @apply transition-colors text-2xl text-white group-hover:text-primary;
  }

  .service-icon {
    @apply text-2xl;
  }

  .services-alignment {
    @apply flex flex-col justify-between;
  }

  .product-properties {
    @apply flex items-center gap-1;
  }

  .shipping_circles {
    @apply absolute bg-white size-11 rounded-full;
  }

  .cart_product {
    @apply flex gap-8 h-full w-full relative py-9 border-b-2 border-stroke last:border-none max-lg:py-6 max-lg:gap-4 max-md:gap-8 max-sm:gap-2;
  }

  .contact_form_inp {
    @apply p-4 w-full border-stroke border-2 rounded-2xl focus:border-primary transition ease-linear duration-200 outline-none text-primary;
  }

  .communication_icon {
    @apply text-3xl text-concat-icon;
  }

  .communication_children {
    @apply text-lg;
  }

  .tutorial_page_shadow {
    @apply shadow-[0px_0px_5px_0px] shadow-[#0000001a];
  }

  .nav_menu_items {
    @apply flex items-center h-full text-white  max-sm:text-lg;
  }

  .nav_menu_items .link,
  .nav_menu_items svg {
    @apply opacity-60;
  }

  .drop_down_main_category {
    @apply flex items-center gap-2 flex-1 border-b-2 border-stroke p-3 last:border-none cursor-pointer hover:bg-primary hover:text-white;
  }

  .drop_down_main_category_icon_parent {
    @apply bg-secondary p-3 rounded-full;
  }

  .drop_down_main_category_icon {
    @apply size-8 object-cover;
  }

  .xl_size_training_btns {
    @apply hidden max-xl:block text-primary absolute top-1/2 -translate-y-1/2 cursor-pointer;
  }

  .lg_header_main_circles {
    @apply size-3.5 rounded-full max-md:size-2.5;
  }

  .circle_active {
    @apply bg-white;
  }

  .circle_inactive {
    @apply bg-white-20;
  }

  .mobile_menu_lines {
    @apply h-0.5 w-5.5 bg-white;
  }

  .nav_active_item {
    @apply text-lg max-sm:text-2xl font-iran-yekan-bold opacity-100;
  }
}

@keyframes move {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
