@import "tailwindcss";
@layer base {
  @font-face {
    font-family: morabba-regular;
    font-weight: normal;
    src: url("/fonts/Morabba-Regular.ttf") format(truetype);
  }
  @font-face {
    font-family: morabba-bold;
    font-weight: bold;
    src: url("/fonts/Morabba-Bold.ttf") format(truetype);
  }
  @font-face {
    font-family: iran-yekan-regular;
    src: url("/fonts/IRANYekanRegular.ttf");
  }
  @font-face {
    font-family: iran-yekan-bold;
    src: url("/fonts/iranyekanwebbold.ttf");
  }
  @font-face {
    font-family: ms-madi;
    src: url("/fonts/MsMadi-Regular.ttf");
  }
}

@theme {
  --color-primary: #9e624c;
  --color-secondary: #f2e5da;
  --color-stroke: #e9e9e8;
  --color-txt: #28221e;
  --color-sec-text: #9b9895;
  --color-white-20: #ffffff33;
  --font-morabba: morabba-regular;
  --font-morabba-bold: morabba-bold;
  --font-iran-yekan: iran-yekan-regular;
  --font-iran-yekan-bold: iran-yekan-bold;
  --font-ms-madi: ms-madi;
}

@layer utilities {
  .container {
    width: 87%;
  }
}

@layer components {
  .move {
    animation: move 25s linear infinite;
    will-change: transform;
  }

  .category-btn {
    @apply p-2 rounded-xl bg-secondary flex items-center justify-center cursor-pointer  transition-colors hover:bg-primary -translate-y-1/2;
  }

  .category-btn-icon {
    @apply text-xl transition-colors group-hover:text-white;
  }

  .special-offs-back {
    @apply w-[90%] h-[568px];
  }

  .special-offs-product {
    @apply min-w-[280px] max-w-[280px];
  }

  .best-sellers-products {
    @apply min-w-[310px] max-w-[310px];
  }

  .icons-parent {
    @apply flex gap-18 items-start;
  }

  .parent-icons-parent {
    @apply flex flex-col gap-16;
  }

  .special-offs-category-item-active {
    @apply font-iran-yekan-bold text-lg text-primary border-b-2 border-primary;
  }

  .bs-products-btn {
    @apply bg-primary text-white flex gap-16 items-center p-4 rounded-full cursor-pointer hover:bg-secondary transition-colors;
  }
}

@keyframes move {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
